<!DOCTYPE html>
<html>
  <head></head>
  <body style="font-family: sans-serif">
    <p>Dear SDE user,</p>

    <p>
      Your reference data file {{file}} could not be processed for the following
      reason:
    </p>

    <p style="padding-left: 10px; border-left: 5px grey solid">{{reason}}</p>

    <p>Please correct the error and resubmit your file, if needed.</p>

    <p>
      If you need help to prepare the file,
      <a
        href="https://digital.nhs.uk//services/secure-data-environment-service/secure-data-environment/user-guides/import-reference-data"
        >please follow the guidance at this link</a
      >.
    </p>

    <p>
      If you need further support, or are unsure of what this error means,
      please email england.sdeservice@nhs.net including details of the issue and
      any relevant screenshots.
    </p>

    <p>Secure Data Environment (SDE) Service</p>
  </body>
</html>
