<!DOCTYPE html>
<html>
  <head></head>
  <body style="font-family: sans-serif">
    <p>Dear SDE user,</p>

    <p>
      We have received your reference data file {{file}} for your agreement
      {{agreement}}.
    </p>

    <p>
      It will now be checked by our Safe Input Checking Service, to ensure there
      is no Personally Identifiable Information (PII).
    </p>

    <p>
      In order to support your request, please ensure that you have sent
      contextual information to
      <a href="mailto:england.sde.input-checks@nhs.net">
        england.sde.input-checks@nhs.net</a
      >.
    </p>

    <h3 style="margin-top: 2em">What happens next?</h3>

    <p>
      You'll get an email from us when the data is available in the environment.
      We aim to respond to all requests within 5 working days of receiving the
      file and the contextual information.
    </p>

    <p style="margin-bottom: 2.5em">
      If the file fails to meet the mandatory criteria regarding PII, we will
      email you to explain what needs to be corrected.
    </p>

    <p>
      If you need further support, or experience any technical issues please
      email
      <a href="mailto:england.sdeservice@nhs.net">england.sdeservice@nhs.net</a>
      including details of the issue and any relevant screenshots.
    </p>

    <p>Secure Data Environment (SDE) Service</p>
  </body>
</html>
